<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<form action="#" th:action="@{/sistema/insertare}" th:object="${cliente}" method="post"> 
	<table>
	<tr>
			<td>
				<label>Cedula:</label>
			</td>
			<td>
				<input type="text" id="cedula" th:field="*{cedula}">
			</td>
		</tr>
		<tr>
			<td>
				<label>Nombre:</label>
			</td>
			<td>
				<input type="text" id="nombre" th:field="*{nombre}">
			</td>
		</tr>
		<tr>
			<td>
				<label>Apellido:</label>
			</td>
			<td>
				<input type="text" id="apellido" th:field="*{apellido}">
			</td>
		</tr>
		<tr>
			<td>
				<label>Fecha de Nacimiento:</label>
			</td>
			<td>
				<input type="date" id="fechaNac" th:field="*{fechaNac}">
			</td>
		</tr>
		<tr>
			<td>
				<label>Genero:</label>
			</td>
			<td>
				<input type="text" id="genero" th:field="*{genero}">
			</td>
		</tr>
		</table>
		<input type="submit" value="Guardar">
	</form>
</body>


</html>